@page {
  margin: 0;
  size: A4;
}

.section-title-line::after {
  content: "";
  flex: 1;
  height: 0.9pt;
  background-color: #5d5d5d;
  margin-left: 1rem;
}

.bullet-point::before {
  content: "•";
  color: #333333;
  position: absolute;
  left: 0;
}
