# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

#Coverage istanbul
coverage/

.vercel

# Pagefind search index files and cache
_pagefind/
.pagefind/
.pagefind-cache/
pagefind-build.log
pagefind*.js
pagefind*.css
pagefind*.json
pagefind*.pf_meta
wasm*.pagefind
filter/
fragment/
index/
