@import url("fonts.css");

@tailwind base;
@tailwind components;

@layer base {
  :root {
    --primary: 16, 185, 129;
    --primary-hovered: 187, 247, 208;
    --secondary: 250, 204, 21;
    --secondary-hovered: 254, 249, 195;
    --bg: 26, 27, 30;
    --foreground: 212, 212, 212;
    --pale-green: 233, 249, 241;
    --pale-green-oklch: oklch(94.8% 0.106 136.49);
  }

  body {
    background-color: rgb(var(--bg));
    color: rgb(var(--foreground));
    line-height: 1.2;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  * {
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
}

@layer components {
  @supports (color: color-mix(in lab, red, red)) {
    .bg-quote\/5 {
      background-color: color-mix(in oklab, var(--pale-green-oklch) 5%, transparent);
    }
  }

  .primary {
    color: rgb(var(--primary));
    transition: color 0.2s ease-in-out;
  }

  .primary-hovered {
    color: rgb(var(--primary-hovered));
  }

  .divide-primary {
    border-color: rgb(var(--primary));
  }

  .secondary {
    color: rgb(var(--secondary));
    transition: color 0.2s ease-in-out;
  }

  .divide-secondary {
    border-color: rgb(var(--secondary));
  }

  .secondary-hovered {
    color: rgb(var(--secondary-hovered));
  }

  .primary-link {
    @apply text-[rgb(var(--primary))];
    transition: color 0.2s ease-in-out;
  }

  .primary-link:hover {
    @apply text-[rgb(var(--primary-hovered))] underline;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .content h2 {
    @apply cursor-pointer;
  }
  .content h2::before {
    content: "#";
    @apply hover:text-green-400 opacity-60 mr-2;
  }
}
