@import url("fonts.css");

@tailwind base;
@tailwind components;

@layer base {
  :root {
    --primary: 16, 185, 129;
    --primary-hovered: 4, 120, 87;
    --secondary: 217, 119, 6;
    --secondary-hovered: 180, 83, 9;
    --bg: 255, 255, 255;
    --foreground: 17, 24, 39;
    --pale-green: 236, 253, 245;
    --pale-green-oklch: 240, 253, 244;
  }

  :root.dark {
    --primary: 16, 185, 129;
    --primary-hovered: 187, 247, 208;
    --secondary: 250, 204, 21;
    --secondary-hovered: 254, 249, 195;
    --bg: 26, 27, 30;
    --foreground: 212, 212, 212;
    --pale-green: 233, 249, 241;
    --pale-green-oklch: 220, 248, 235;
  }

  body {
    background-color: rgb(var(--bg));
    color: rgb(var(--foreground));
    line-height: 1.2;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  * {
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
}

@layer components {
  @supports (color: color-mix(in lab, red, red)) {
    .bg-quote\/5 {
      background-color: color-mix(in oklab, rgb(var(--pale-green-oklch)) 5%, transparent);
    }
  }

  .primary {
    color: rgb(var(--primary));
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }

  .primary-hovered {
    color: rgb(var(--primary-hovered));
  }

  .divide-primary {
    border-color: rgb(var(--primary));
  }

  .secondary {
    color: rgb(var(--secondary));
    transition: color 0.2s ease-in-out;
  }

  .divide-secondary {
    border-color: rgb(var(--secondary));
  }

  .secondary-hovered {
    color: rgb(var(--secondary-hovered));
  }

  .primary-link {
    @apply text-[rgb(var(--primary))];
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }

  .primary-link:hover {
    @apply text-[rgb(var(--primary-hovered))] underline;
  }

  .secondary-link {
    @apply text-[rgb(var(--secondary))];
    transition: color 0.2s ease-in-out;
  }

  .secondary-link:hover {
    @apply text-[rgb(var(--secondary-hovered))] underline;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .prose-content h2 {
    @apply cursor-pointer;
  }
  .prose-content h2::before {
    content: "#";
    @apply text-yellow-400 mr-2;
  }

  .section-title-line::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: rgb(var(--secondary));
    margin-left: 1rem;
    align-self: center;
  }

  .bullet-point-dark::before {
    content: "•";
    color: rgb(var(--secondary));
    position: absolute;
    left: 0;
    font-weight: bold;
  }
}
