---
import BaseLayout from '../layouts/Layout.astro';
---

<BaseLayout title="Prueba." description='Prueba'>
	<div class="container mx-auto flex justify-center">
		<article class="text-white">
			This is a test
		</article>
	</div>
</BaseLayout>
