---
import BaseLayout from "@layouts/base-layout.astro";
import { siteConfig } from "@site-config";
import { getSortedTagsWithCounts } from "@utils/tag";

const sortedTags = await getSortedTagsWithCounts();
---

<BaseLayout
  title={`Tags · ${siteConfig.siteTitle}`}
  description="Browse all tags used in blog posts. Discover content organized by topics and categories."
>
  <section>
    <header class="mb-8">
      <h1 class="font-semibold text-2xl mb-4">
        Tags<span class="animate-blink">|</span>
      </h1>
    </header>

    <div>
      {
        sortedTags.length > 0 ? (
          <ul class="space-y-7 text-xs">
            {sortedTags.map((tag) => (
              <li>
                <a
                  href={`/tags/${tag.name}/`}
                  class="hover:text-gray-100 transition-opacity cursor-pointer"
                >
                  <span class="underline">#{tag.name}</span>
                </a>
                - {tag.count} {tag.count === 1 ? "Post" : "Posts"}
              </li>
            ))}
          </ul>
        ) : (
          <p>No tags found.</p>
        )
      }
    </div>
  </section>
</BaseLayout>
