<footer class="m-auto flex flex-col gap-y-2 pb-4 pt-20 text-center align-top font-semibold text-gray-600 dark:text-gray-400 sm:flex-row sm:justify-between sm:text-xs">
    <p>Copyright © 2024 <a href="/about" class="hover:underline">Enrique Quero Vilar</a>. All rights reserved.</p>
</footer>