---
import { menuLinks } from "@/site-config";

const url = new URL(Astro.request.url);
---

<header id="main-header" class="relative mb-16 flex items-center">
    <div class="flex flex-col">
        <nav aria-label="Main menu" class="-ms-4 mt-1 flex divide-x divide-green-400 divide-dashed pt-0 primary" id="navigation-menu">
            {menuLinks.map((link) => (
				<a	
					aria-current={url.pathname === link.path ? "page" : false}
					class="px-4 py-0 underline-offset-2 hover:underline"
					data-astro-prefetch
					href={link.path}
				>
					{link.title}
				</a>
			))}
        </nav>
    </div>
</header>