---
import { getLatestPosts } from "@utils/post";
import { formatPostDate } from "@utils/date";

const latestPosts = await getLatestPosts(4);
---

<section id="post-section" class="mt-20">
  <header class="mb-5">
    <h2 class="font-semibold text-xl secondary">Posts</h2>
  </header>
  <ul class="space-y-4">
    {
      latestPosts.map((post) => (
        <li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
          <time
            datetime={post.data.publishDate}
            class="min-w-[120px] text-gray-400"
          >
            {formatPostDate(post.data.publishDate)}
          </time>
          <div>
            <a
              class="underline hover:text-gray-100 transition-colors duration-200"
              data-astro-prefetch
              href={`/posts/${post.data.slug}/`}
            >
              {post.data.title}
            </a>
          </div>
        </li>
      ))
    }
    {
      latestPosts.length > 0 && (
        <li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
          <div class="min-w-[120px]" />
          <div>
            <a
              class="primary-link"
              href="/posts/"
              aria-label="View all blog posts"
            >
              see more...
            </a>
          </div>
        </li>
      )
    }
  </ul>
</section>
