<section id="post-section" class="mt-20">
  <header class="mb-5">
    <h2 class="font-semibold text-xl primary">Posts</h2>
  </header>
  <ul class="space-y-4">
    <li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
      <time
        datetime="2023-07-04T00:00:00.000Z"
        class="min-w-[120px] text-gray-600 dark:text-gray-400">04 Jul 2023</time
      >
      <div>
        <a
          class="cactus-link underline hover:text-gray-100"
          data-astro-prefetch=""
          href="/posts/cover-image/"
        >
          Example Cover Image
        </a>
      </div>
    </li>
    <li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
      <time
        datetime="2023-07-04T00:00:00.000Z"
        class="min-w-[120px] text-gray-600 dark:text-gray-400">23 Jul 2023</time
      >
      <div>
        <a
          class="cactus-link underline hover:text-gray-100"
          data-astro-prefetch=""
          href="/posts/cover-image/"
        >
          This is a comment for you
        </a>
      </div>
    </li>
    <li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
      <time
        datetime="2023-07-04T00:00:00.000Z"
        class="min-w-[120px] text-gray-600 dark:text-gray-400">26 Jul 2023</time
      >
      <div>
        <a
          class="cactus-link underline hover:text-gray-100"
          data-astro-prefetch=""
          href="/posts/cover-image/"
        >
          Different comments to test space inside posts section
        </a>
      </div>
    </li>
    <li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
      <time
        datetime="2023-07-04T00:00:00.000Z"
        class="min-w-[120px] text-gray-600 dark:text-gray-400">33 Aug 2023</time
      >
      <div>
        <a
          class="cactus-link underline hover:text-gray-100"
          data-astro-prefetch=""
          href="/posts/cover-image/"
        >
          This is madness! MADNESS!!!!!!! This is Sparta
        </a>
      </div>
    </li>
    <li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
      <div class="min-w-[120px]"></div>
      <div>
        <a class="primary-link" href="/posts/"> see more... </a>
      </div>
    </li>
  </ul>
</section>
