---
import MagnifierIcon from "@icons/magnifier.svg";
import "@styles/components/search-box.css";
---

<site-search class="ms-auto" id="search">
  <button
    class="hover:primary-hovered transition-colors duration-200 flex h-9 w-9 cursor-pointer items-center justify-center rounded-md"
    aria-keyshortcuts="Control+K Meta+K"
    data-open-modal
    type="button"
    aria-label="Open Search"
  >
    <MagnifierIcon class="h-7 w-7" />
  </button>
  <dialog
    aria-label="search"
    class="bg-zinc-900 h-full max-h-full w-full max-w-full border border-zinc-600 shadow-2xl backdrop:backdrop-blur-sm open:flex sm:mx-auto sm:mt-16 sm:mb-auto sm:h-max sm:max-h-[calc(100%-8rem)] sm:min-h-[15rem] sm:w-5/6 sm:max-w-[48rem] sm:rounded-lg"
  >
    <div class="dialog-frame flex grow flex-col gap-4 p-6 pt-12 sm:pt-6">
      <button
        class="ms-auto cursor-pointer rounded-md bg-zinc-700 hover:bg-zinc-600 px-3 py-2 font-semibold text-zinc-200 hover:text-white transition-all duration-200 text-sm"
        data-close-modal
        aria-label="Close Search"
      >
        Close
      </button>

      <div class="search-container">
        <div id="personal__search"></div>
      </div>
    </div>
  </dialog>
</site-search>

<script>
  import("@/scripts/search");
</script>
