---
import { siteConfig } from "@site-config";
---

<footer
  class="flex flex-col gap-y-2 pb-4 pt-20 text-center align-top font-semibold text-xs"
>
  <p>
    <a
      href="/about"
      class="primary-link underline-offset-2"
      aria-label={`Learn more about ${siteConfig.nickname}`}
    >
      {siteConfig.nickname}
    </a>
  </p>
  <p class="text-[rgb(var(--foreground))]">
    Copyright© {siteConfig.copyrightYear}. All bugs reserved.
  </p>
  <p class="text-[rgb(var(--foreground))]">
    Made with <span class="secondary">❤️</span> from Spain.
  </p>
</footer>
