---
import { siteConfig } from "@site-config";
---

<footer
  class="flex flex-col gap-y-2 pb-4 pt-20 text-center align-top font-semibold text-xs"
>
  <div
    class="group mx-auto px-4 py-2 transition-all duration-300 hover:rounded-lg hover:bg-gray-100/5"
  >
    <p>
      <a
        href="/about"
        class="primary-link underline-offset-2"
        aria-label={`Learn more about ${siteConfig.nickname}`}
      >
        {siteConfig.nickname}
      </a>
    </p>
    <p class="text-[rgb(var(--foreground))] mt-2">
      Copyright© {siteConfig.copyrightYear}. All bugs reserved.
    </p>
    <p
      class="text-[rgb(var(--foreground))] opacity-100 transition-opacity duration-300 [@media(hover:hover)]:opacity-0 [@media(hover:hover)]:group-hover:opacity-100 mt-2"
    >
      Made with <span class="secondary">❤️</span> from Spain.
    </p>
  </div>
</footer>
