---
import { getSortedTagsWithCounts } from "@utils/tag";

const sortedTags = await getSortedTagsWithCounts();
const tagNames = sortedTags.map((tag) => tag.name);
---

<section>
  <header class="mb-4 flex items-center justify">
    <svg
      class="w-4 h-4 mr-1"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M9.243 3.03a1 1 0 01.727 1.213L9.53 6h2.94l.56-2.243a1 1 0 111.94.486L14.53 6H17a1 1 0 110 2h-2.97l-1 4H15a1 1 0 110 2h-2.47l-.56 2.242a1 1 0 11-1.94-.485L10.47 14H7.53l-.56 2.242a1 1 0 11-1.94-.485L5.47 14H3a1 1 0 110-2h2.97l1-4H5a1 1 0 110-2h2.47l.56-2.243a1 1 0 011.213-.727zM9.03 8l-1 4h2.94l1-4H9.03z"
        clip-rule="evenodd"></path>
    </svg>
    <h2 class="font-semibold text-lg">Tags</h2>
  </header>
  <div>
    {
      tagNames.length > 0 ? (
        <div class="flex flex-wrap gap-x-3 gap-y-2">
          {tagNames.map((tagName) => (
            <a
              href={`/tags/${tagName}/`}
              class="transition-colors duration-200 text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200 underline-offset-2 hover:underline text-sm"
            >
              #{tagName}
            </a>
          ))}
        </div>
      ) : (
        <p class="text-gray-500 text-sm">No tags found.</p>
      )
    }
  </div>
</section>
