---
import HashIcon from "@icons/hash.svg?raw";
import { getSortedTagsWithCounts } from "@utils/tag";

const sortedTags = await getSortedTagsWithCounts();
const tagNames = sortedTags.map((tag) => tag.name);
---

<section>
  <header class="mb-4 flex items-center justify">
    <div class="inline-flex items-center">
      <Fragment set:html={HashIcon} />
    </div>
    <h2 class="font-semibold text-lg">Tags</h2>
  </header>
  <div>
    {
      tagNames.length > 0 ? (
        <div class="flex flex-wrap gap-x-3 gap-y-2">
          {tagNames.map((tagName) => (
            <a
              href={`/tags/${tagName}/`}
              class="transition-colors duration-200 hover:text-gray-100 underline-offset-2 underline text-xs"
            >
              #{tagName}
            </a>
          ))}
        </div>
      ) : (
        <p class="text-gray-500 text-sm">No tags found.</p>
      )
    }
    <a
      href="/tags/"
      class="text-gray-400 hover:text-gray-100 text-xs block lg:text-right xs:text-left mt-3"
    >
      View all ->
    </a>
  </div>
</section>
