---
import SunIcon from "@components/icons/sun-icon.astro";
import MoonIcon from "@components/icons/moon-icon.astro";
---

<theme-toggle>
  <button
    class="flex items-center justify-center p-2 rounded-md hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors duration-200"
    aria-label="Toggle theme"
    type="button"
  >
    <MoonIcon class="w-7 h-7 hidden dark:block" />
    <SunIcon class="w-7 h-7 block dark:hidden" />
  </button>
</theme-toggle>

<script>
  import("@/scripts/theme-toggle");
</script>
